/*
Theme Name: MXWorld
Theme URI: http://www.protolan.be
Author: Protolan Comm. V. & Priscus BVBA
Author URI: http://protolan.be/
Description: Customized theme created by frizbee.be for MXworld.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive, flex, mobile friendly, mxworld, motocross, mx, supercross, enduro
Text Domain: MXworld

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*COMMONG*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ropa+Sans');

/*
font-family: 'Ropa Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
@font-face {
    font-family: "Font Awesome 5 Free";
    src: url("font-awesome/web-fonts-with-css/webfonts/fa-solid-900.ttf");
}

body, html {
    margin: 0 !important;
    margin-top: 0 !important;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #262626;
    font-size: 14px;
}

.header {
    position: relative;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}

.col-no-pad {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.col-no-pad img{
    width: auto;
    min-width: 101%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    max-width: none;
}
a, a:hover, a svg, a svg:hover{
    cursor: pointer;
}
h1 {
    margin: 0;
}

h2 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
}

a:link, a:visited {
    color: #000000;
    text-decoration: underline;
}

a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

/*HEADER*/

.banner-container {
    width: calc(100% - 316px);
    float: left;
}

.banner-container .img{
    max-width: 100%;
    height: auto;
}

.banner-container .row{
    margin: 0;
    padding: 0;
}
.container .space-logo {
    width: 316px;
    height: 1px;
    float: left;
}

.container .logo {
    left: 0;
    position: absolute;
    z-index: 1;

}

.article .thumb-container img{
    width: 100%;
    height: auto;
}

/*SEARCH*/
.search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 12px 10px 12px 10px;
    border: none;
    font-size: 1.2em;

}
.searchform{
    width:100%;
}
.header_search_submit{
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 10;
    opacity: 0;
}
.search-container {
    color: #c0c0c0;
    position: relative;
    width: calc(100% - 316px);
    float: right;
    background-color: #FFF;
    text-align: right;
}
.search-container:hover .search{
    width: 100%;
    outline: none;
}

.search-container:after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 23px;
    right: 14px;
    top: 7px;
}

.search:focus {
    width: 100%;
    outline: none;
}

/*Carousel */
.carousel {
    height: 50vw;
    overflow: hidden;
    width: 100%;
    max-height: 540px;
    background: #262626;
    /*min-height: 400px;*/
}
.carousel-inner{
    height:100%;
}
.carousel-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel img{
    width: 100%;
    opacity: 0.4;
}

.carousel-caption{
    /* top: 21%; */
    bottom: 10%;
}
.carousel-caption p {
    font-size: 2em;
    margin: 0;
    overflow: hidden;
}

.carousel-caption a.read-more {
    display: inline-block;
    right: 0;
    background-color: #FFF;
    color: #000;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 2em;
    transition: color 0.5s, background-color 0.5s;
}

.carousel-caption a.read-more:hover {
    color: #FFF;
    background-color: #ed1c24;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
    cursor: pointer;

}

.carousel-caption a.read-more .fa-angle-double-right {
    font-size: 0.75em;
}

/*Partner Space*/
.partner-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.partner-space img {
    display: block;
    max-width: 100%;
}

/*Articles*/
.ads img{width: 100%}
.row.ads .adcol{padding: 0 0.25% 0 0.25%}
.row.ads .adcol:first-child{padding-left: 0; padding-right: 0.5%}
.row.ads .adcol:last-child{padding-right: 0; padding-left: 0.5%}
.whiterows .row{background: #FFFFFF;}

.articles .row{
    margin-top: 10px;
}

.article {
    background-color: #FFF;
}

.articles .row.article{
    margin-top: 0;
}

.article .content{
    padding-bottom: 20px;
}

.article h3 {
    margin-top: 75px;
}

.type {
    background-color: #000;
    padding: 5px 15px;
    position: absolute;
    top: 25px;
    left: -10px;
    color: #FFF;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.type:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
}

.article .content p {
    color: #464646;
    margin: 0;
}

.article .content i {
    font-weight: 700;
    color: #000;
}

.article .thor-it{
    display: inline-block;
    margin-top: 20px;
}

.article .thor-it img{
    border: 0;
    margin: 0;
}

.article .content p.author{
}


/*
.article .content a {
    display: inline-block;
    right: 0;
    background-color: #ed1c24;
    color: #FFF;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    padding: 5px 15px;
    font-size: 200%;
    transition: color 0.5s, background-color 0.5s;
}

.article .content a:hover {
    color: #000;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
    background-color: #FFF;
}
*/

.carousel-caption.big-article{
    left: 3%;
    right: 3%;
}

.big-article-content{
    background-color: #FFF;
    color: #464646;
    padding: 30px;
}
.big-article-content .intro {
    display: none;
    font-weight: 700;
}

/*LINKS*/
.links {
    background-color: #ed1c24;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.links a {
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 10px;
    border-right: 0.5px solid #f4777c;
    text-align: center;

}

.links > div:first-child, .links > div:last-child {
    width: 240px;
    display: block;
}
.links > div.nav-next > a, .links > div.nav-previous > a{
    width: 100%;
}

.links > a:first-child {
    text-align: right;
}

.links > a:last-child {
    text-align: left;
}

.links a.active, .links a:hover {
    text-decoration: none;
    background-color: #f4777c;
}

.links a:last-child {
    border-right: none;
}

.pages a {
    width: 50px;
    border-left: 0.5px solid #f4777c;
}

.pages a:last-child {
    border-right: 0.5px solid #f4777c;
}

/*FOOTER*/

.footer {
    color: #FFF;
    text-align: center;
    background: url("htmlassets/footer.png") no-repeat center top;
    padding: 55px 0;
}

.footer a {
    color: #FFF;
}

/*Galerij*/
h2.gallery-title {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: #FFF;
}

.modal-content {
    border: none;
    background-color: transparent;
}

.gallery a {
    padding: 5px;
}
.fa-times{
    font-size: 50px;
    right: 10px;
    position: absolute;
    top: 10px;
    transition:0.5s;
}

.fa-times:hover{
    color: #ed1c24;
    transition:0.5s;
}
.bwg_ctrl_btn_container, .bwg_btn_container{
    display: none;
}
.bwg_image_info_spun .bwg_image_info {
    background: rgba(0, 0, 0, 0.70);
    border: 1px none #000000;
    border-radius: 5px;
    width: 80%;
    right: 10%;
    margin: auto;
    text-align: center;
    padding: 5px;
}

/*CONTACT*/
div.wpcf7 {
    max-width: 960px;
    margin: auto !important;
}
label
{
    width: 50%;
    float: left;
    padding:10px;
}
label.full
{
    width: 100%;
}

input[type="text"], input[type="email"], textarea
{
    background-color: #fff;
    color: #000;
    width: 100%;
}
input[type="submit"]{
    right: 0;
    border: 1px solid #ed1c24;
    margin-top: -20px;
    position: absolute;
    background-color: #ed1c24;
    color: #FFF;
    font-family: "Font Awesome 5 Free", 'Ropa Sans', sans-serif;
    padding: 0px 60px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}
input[type="submit"]:hover{
    background-color: #FFF;
    color: #000;
    transition: color 0.5s, background-color 0.5s;
}
.contact-end{
    right: 10px;
    width: 100%;
    position: relative;
}
div.wpcf7 p.small{
    float: left;
    margin-left: 10px;
    margin-top: -40px;
}


/*MOBILE*/
.thumbnail { width: 19.6%; margin: 0.2%; float: left;}

h1.show-mobile {
    display: none;
}

@media screen and (max-width: 960px) {

    .carousel h2{ font-size: 1em; }
    .carousel p{ font-size: 0.8em;}
    .carousel .carousel-caption a.read-more{ font-size: 1em; padding: 5px;}

    h1.hide-mobile, .space-logo {
        display: none;
    }

    h1.show-mobile {
        display: block;
        width: 100%;
        background-color: #ed1c24;
        text-align: center;
    }

    .banner-container, .search-container, .search-container .search {
        width: 100%;
    }

}

@media screen and (max-width: 768px){

    .thumbnail { width: 33%; margin: 0.16%; float: left;}

    /*
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption.text-right{
        text-align: center !important;
    }
    .carousel-caption a {
        padding: 10px 30px;
    }
    */

    .type{
        position: relative;
        top: 0;
        text-align: center;
        left: 0;
        margin-left: -15px;
        width: calc(100% + 30px);
    }
    .type:after{
        display: none;
    }
    .article h3{
        margin-top: 15px;
    }
    .article .content{
        margin-bottom: 15px;
    }
    .links > a:first-child, .links > a:last-child {
        width: 100%;
        text-align: center;
        border-top:0.5px solid #f4777c;
        border-bottom:0.5px solid #f4777c;
    }
    .links > a:nth-child(2){
        width: 100%;
    }
    .big-article.carousel-caption p {
        display: none;
    }
    .big-article-content .intro {
        display: block;
    }
    .big-article h2{
    }
    .col-no-pad {
        min-height: 200px;
    }
    .col-no-pad img{
        height: auto;
        min-height: 100%;
    }

}

@media screen and (max-width: 550px){

    /* .carousel { max-height: 280px; min-height: 240px; } */

    .thumbnail { width: 33%; margin: 0.16%; float: left;}

    /*
    .carousel-caption{
        top: 30%;
    }
    */

    html, body {
        /*font-size: 12px;*/
    }
    /*
    .carousel-caption a {
        padding: 5px 30px;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 7%;
    }
    .carousel-caption {
        right:7%;
        left: 7%;
        bottom: 5px;
    }
    .carousel-indicators{
        bottom: -8px;
    }
    */

    .links div, .links > div:first-child, .links > div:last-child, .links{
        width: 100%;
        display: block !important;
    }
}
@media screen and (max-width: 475px){

    .thumbnail { width: 33%; margin: 0.16%; float: left;}

    /*
    .carousel-caption{
        top: 35%;
    }

    .carousel-caption p {
        display: none;
    }
    */

    .big-article h2, h2{
    }
    .big-article-content .text, .big-article-content .intro{
    }
}
@media screen and (max-width: 380px){
    .big-article h1, h2{
    }

    .article h3{
    }
}